@model novv.Models.employeeViewModel

<h1>Add employee</h1>
<hr />
<form method="post">
    <div class="form=group">
        <label> employee Name</label>
        <input type="text" name="Name" />
    </div>
    <div class="form-group">
        <label> employee ID</label>
        <input type="text" name="Age" />
    </div>
    <div class="form-group">
        <label> employee Salary </label>
        <input type="text" name="Salary" />
    </div>
    <div class="form=group">
        <label>Position</label>
        <input type="text" name="Position">
    </div>
    <div>
        <input type="submit" value="Add employee" />
    </div>
</form>
