@model novv.Models.employeeViewModel

<h1>Cat Info</h1>
<hr />

<p>employee Name : @Model.Name</p>
<p>employee ID : @Model.ID</p>
<p>employee Salary : @Model.Salary</p>
<p>employee Position : <src="@Model.Position" width="50%" /></p>
